/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

div.full {
    background: #CCC;
    height: 100%;
    width: 100%;
}

.map {
    height: 100%;
}

path {
  fill: #FFF;
  fill-opacity: 0;
}

path:hover {
  cursor: pointer;
  fill: #FFF;
  fill-opacity: .4;
}

div.flag {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 26em;
    height: 4em;
    background: white;
    border-radius: 8px;
    opacity: .8;
    box-shadow: 0 0 5px 2px #888;
    padding: 1em;
}

div.flag > img {
    height: 4em;
    margin-right: 1em;
    border-radius: 8px;
    vertical-align: middle;
    float: left;
    box-shadow: 0 0 5px 2px #AAA;
}

h3.small {
  font-size: 1.4em;
  line-height: 1em;
}

h3.medium {
  font-size: 1.8em;
  line-height: .8em;
}

h3.big {
  font-size: 2.8em;
}

h3.extrabig {
  font-size: 3.8em;
}

[ng-cloak] {
  display: none;
}
