extends layout
block main

  div.mainzone
    leaflet(country="country", map="map", mouse="mouse", click="click")

    div.qbox.flag
      a.btn.btn-warning(ng-show="find.left", ng-click="pass()") Pass
      h2 Can you find...
      img.pull-left(ng-src="{{find.img}}")
      h3(ng-class="find.nameSize") {{find.countries[find.actual]}}
      div.bottom.pull-right
          span.label(style="text-align: right;") {{find.left}} left
          span.label.label-warning(style="text-align: right;") {{find.pass}} passed
          span.label.label-important(style="text-align: right;") {{find.error}} errors 
          span.label.label-success(style="text-align: right;") {{find.correct}} correct 
