extends layout
block main
  div.full
    leaflet(zoom="3", max-zoom="5", min-zoom="2", lat="12.211180191503997", lng="17.2265625", code="code", country-name="countryName", country-name-size="countryNameSize", map="africa")

  div.flag(ng-show="code", ng-cloak)
    img(ng-src=settings.urls.base.url + "img/flags/96x64.3/{{code}}.png")
    h3(ng-class="countryNameSize") {{countryName}}
